@import 'mixins';

.best-way {
    max-width: 1110px;
    margin: 0 auto;
    padding: 150px 0;
    h3 {
        padding-bottom: 60px;
    }
    &__cart-wraper {
        @include flex-container();
    }
    &__cart {
        padding: 26px 30px 36px;
        &:not(:last-child) {
            margin-right: 30px;
        }
        h4 {
            padding-bottom: 20px;
        }
        p {
            font-size: 14px;
            @include custom-line-height(2.1);
            color: rgba(33, 56, 66, 0.6);
            min-height: 146px;
            padding-bottom: 30px;
        }
    }
}